
html, body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 12px;
}

.instruction-card {
	padding: 10px;
	background: #cccccc;
	position: absolute;
	top:0;
	right: 20px;
}

#img-canvas-view {
	max-width: 100% !important;
	height: auto !important;
}